<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css.css">
  <link rel="stylesheet" href="visor.css">
  <title>Hotspots</title>
</head>

<body>
  <!--[if !mso]><!-->
  <div id="hotspots-container" class="hidden w-100 mw-1200 mx-auto rounded shadow text-center" style="position: relative;">
    <img class="imagen-forma" src="img/recorridoHorizontal.webp" alt=""  style=" position: absolute;">
    <div style="padding-bottom: 40%; position: relative; overflow-y:scroll;" class="text-center">
      <input type="checkbox" class="hidden" id="hotspots1">
      <input type="checkbox" class="hidden" id="hotspots2">      
      <input type="checkbox" class="hidden" id="hotspots3">
      <label for="hotspots1" id="b1" class="highlight absolute"><p style="margin: 0 8px; padding: 0;" >1</p></label>
      <label for="hotspots2" id="b2" class="highlight absolute"><p style="margin: 0 8px; padding: 0">2</p></label>
      <label for="hotspots3" id="b3" class="highlight absolute"><p style="margin: 0 8px; padding: 0">3</p></label>
      <!-- estructura 1 -->
      {% for sec in seccion %}
      <input type="checkbox" class="hidden" id="hotspots3">
      <label for="hotspots1" id="b+{{loop.index}}" class="highlight absolute"><p style="margin: 0 8px; padding: 0;" >{{loop.index}}</p></label>
      {% endfor %}
      
      {% for sec in seccion %}
      <label id="content"+{{loop.index}} for="hotspots+{{loop.index}}" class="hidden bg-white rounded shadow text-grey text-left">
        
          <figure class='visor'>
            <img src='img/s'+{{loop.index}}+'plano.jpg' alt='imagen panoramica de la seccion {{loop.index}}' />
            <figcaption>
              <h2>{{sec.donde}}</h2>
              <p>{{sec.lugar}} </p>
            </figcaption>
          </figure>
        
        <p class="m-2 text-m bold text-blue">Sección {{loop.index}}</p>
        <p class="m-2 text-s leading-relaxed">{{sec.descripcion}}</p>
      </label>
      {% endfor %}
      <!-- //hasta aca se vuelve a repetir -->
      <label id="content2" for="hotspots2" class="hidden bg-white rounded shadow text-grey text-left">
        
          <figure class='visor'>
            <img src='img/s2plano.jpg' alt='imagen panoramica de la seccion 1' />
            <figcaption>
              <h2>Estás en la sección 2 de 6</h2>
              <p>Lugar: República de los niños </p>
            </figcaption>
          </figure>
        
        <p class="m-2 text-m bold text-blue">Sección 2</p>
        <p class="m-2 text-s leading-relaxed">With lava flows dating back some 250,000 years ago, Kilauea is the youngest of the 5 active volcanoes in Hawaii – but it's also the feistiest</p>
      </label>
      <label id="content3" for="hotspots3" class="hidden bg-white rounded shadow text-grey text-left">
        <figure class='visor'>
          <img src='img/s3plano.jpg' alt='imagen panoramica de la seccion 3' />
          <figcaption>
            <h2>Estás en la sección 3 de 6</h2>
            <p>Lugar: República de los niños </p>
          </figcaption>
        </figure>
        <p class="m-2 text-m bold text-blue">Sección 3</p>
        <p class="m-2 text-s leading-relaxed">Molokai island’s towering sea cliffs give it a dramatic landscape, but there’s just as much beauty to behold in the depths of the sea waters that surround it</p>
      </label>
    </div>
  </div>
  <!--<![endif]-->
  <div id="fallback" class="text-center bold text-m">
    Does not support hotspots!
  </div>
</body>

</html>