<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = '/css/main.css')}}">
    <title>PPS-posicionamiento</title>
</head>
<body>
    <div style="height: 80%; width: 100%; background-color: aqua;" >
        <figure class='visor'>
            <img src='/static/img/s1_1plano.webp' alt='imagen panoramica de la seccion 6' />
            <figcaption>
              <h2>Estás en la sección 6 de 6</h2>
              <p>Lugar: República de los niños </p>
            </figcaption>
        </figure>
    </div>
</body>
</html>